body{
    margin: 0;
    padding: 0;
}

.container{
    width: 1150px;
    margin: auto;
}
    /* header */

.header{
    width: 100%;
    height: 350px;
    background-color: blueviolet;
}

.header .heading{
    width: 50%;
    float: left;
    margin-top: 100px;
    border-right:  1px solid darkgray;
}

.header .heading h2{
    width: 49%;
    color: #fff;
    line-height: 1.8;
    font-size: 25px;
}

.header .heading h2 span:hover{
    color: #00bc8a;
    cursor: pointer;
}

.header .lorem{
    width: 40%;
    float: left;
    margin-left: 3%;
    margin-top: 100px;
}

.header .lorem p{
    font-family: Tahoma;
    color: darkgray;
    line-height: 1.8;
    font-weight: bold;
}

.header .lorem button{
    border: 0;
    background: none;
    color: #fff;
    font-size: 20px;
    background: #00bc8a;
    padding: 15px;
    border-radius: 50px;
    width: 200px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

    /* magna */

.magna{
    width: 100%;
    height: 350px;
    border-bottom:  1px solid #ddd;
    padding-top: 50px;
}

.magna .learn1{
    width: 50%;
    float: left;
    border-right:  2px solid #ddd;
}

.magna .learn1 h2{
    font-family: Tahoma;
    color: #777;
    text-decoration: underline;
}

.magna .learn1 p{
    line-height: 1.9;
    font-family: Tahoma;
    color: #888;
} 

.magna .learn1 button{
    border: 0;
    outline: 0;
    background-color: #fff;
    border:  1px solid #ddd;
    padding: 15px;
    border-radius: 30px;
    width: 200px;
    color: #888;
    text-transform: uppercase;
    cursor: pointer;
}

.magna .learn2{
    width:  40%;
    float: left;
    margin-left: 5%;
    visibility: hidden;
}

.learn2 p{
    line-height: 2;
    font-family: Tahoma;
    font-weight: bold;
    color: #666;
}

.learn2 i{
    padding-right:25px ;
    color: #00bc8a;
}

.pharetra{
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    background-color: #f2f2f2;
}

.pharetra .part{
    height: 350px;
    padding-bottom: 50px;
}

.pharetra .part img{
    float: left;
    width: 40%;
}

.pharetra .part .he{
    float: left;
    width: 40%;
    padding-left: 70px;
    padding-top: 50px;
}

.pharetra .part .he h2{
    color: #777;
    font-family: Tahoma;
    text-decoration: underline;
}

.pharetra .part .he p{
    color: #888;
    font-family: Tahoma;
    line-height: 2;
    font-weight: bold;
}


.pharetra .part .he button{
    border: 0;
    border: 1px solid #ddd;
    width: 200px;
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;
    color: #777;
    text-transform: uppercase;
    cursor: pointer;
}

.pharetra .part .he button:hover{
    background-color: #888;
    color: #fff;
}

.clear{
    clear: both;
}

   /* form */

.form{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form .inputs{
    width: 50%;
    float: left;
    border-right: 2px solid #ddd;
}

.form .inputs h2{
    font-family: Tahoma;
}

.form .inputs p{
    line-height: 2;
    font-family: Tahoma;
    font-weight: bold;
    color: #888;
}

.form .inputs input[type="text"],
input[type="email"]{
    width: 250px;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 10px;
    outline: 0;
}

.form .inputs form textarea{
    width: 530px;
    outline: 0;
    padding-left: 20px;
}

.form .inputs input[type="submit"]{
    width: 150px;
    border-radius: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
    background-color: #fff;
    text-transform: uppercase;
}

.form .links{
    float: left;
    padding-top: 50px;
    padding-left: 50px;
}

.form .links p{
    line-height: 2.5;
}

.form .links p i{
    padding-right: 25px;
    color: #00bc8a;
}

.footer{
    width: 100%;
    height: 150px;
    border-top: 1px solid #ddd
}

.footer p{
    text-align: center;
    line-height: 150px;
    font-family: Tahoma;
    color: #777;
}










